__pycache__/app.cpython-311.pyc
.env
__pycache__/app.cpython-39.pyc
logger/__pycache__/logger_base.cpython-39.pyc
models/__pycache__/resource_models.cpython-39.pyc
routes/__pycache__/resource_routes.cpython-39.pyc
schemas/__pycache__/resource_schemas.cpython-39.pyc
services/__pycache__/resource_services.cpython-39.pyc
mongodb_api.log
